/** CSS STYLE **/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}

h1, h2, h3 {
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
    font-weight: 400;
}

h1 {
    font-size: 72px;
    text-align: left;
    z-index: 1;
    color: #FE8A02;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.bg-main {
    position: relative;
    overflow: hidden;

    background: #f5f4f0;
}

.bg-main::before {
    position: absolute;

    width: 100%;
    height: 100%;

    background: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;

    content: "";
}

.dark {
    color: #2A2626;
}

.container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 165px;
    padding-right: 165px;
}

.img_header {
    position: absolute;

    height: 525px;
    top: 55px;
    right: -270px;
}

.content {
    display: flex;
    
}

.header_text {
    flex-basis: 50%; 
    margin-top: 190px;
}

.header_text:nth-child(1) {
    margin-right: 30px;
}

.btn {
    display: inline-block;
    background: #FE8A02; 
    margin-top: 40px;
    padding: 12px 24px 12px 24px;
    color: #fff; 
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background: #EA7600;
}

.video {
    height: 805px;
}

.video .container {
    justify-content: center;
}

.video h2 {
    text-align: center;
}

.light {
    color: #FE8A02;
}

.video p {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.video iframe {
   position: relative;
   width: 919px;
   height: 569px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav_card {
    display: flex;
    flex-wrap: wrap;
}

.card-title {
    width: 350px;
    height: 323px;
    margin-right: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}
.card {
    box-sizing: border-box;
    width: 350px;
    padding: 24px;
    margin-right: 30px;
    margin-bottom: 20px;
    background: #F5F4F0;
    align-content: flex-start;
    text-decoration: none;
    color: #2A2626;
}

.card:hover {
    background: #EA7600;
    color: #FFFFFF;
}

.card:hover p {
    color: #FFFFFF;
}

.card:hover h3 {
    color: #FFFFFF;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:nth-child(n+4) {
    margin-bottom: 0;
}

.number {
    font-size: 64px;
    font-family: 'Neucha', cursive;
    line-height: 1;
    padding-bottom: 40px;
    color: #42413C;
}



.card h2 {
    font-size: 64px;
    padding-bottom: 40px;
    color: #42413C;
}

.card-title h2 {
    font-size: 52px;
    width: 350px;
    margin-right: 30px;
}

.card h3 {
    padding-bottom: 16px;
    color: #FE8A02;
}

#navigation {
    justify-content:flex-start ;
    background: #42413C;
}

#navigation .container {
    padding-top: 200px;
}

.white {
    color: #FFFFFF;
}

#ikea_effect {
    height: 905px;
}

.ikea_photo {
    position: absolute;
    width: 578px;
    height: 434px;
    left: 165px;
    top: 100px;

    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.title {
    font-size: 24px;
    font-family: "Neucha", cursive;
    line-height: 29px;
    color: #908D8B;

    padding-left: 608px;   
}

#ikea_effect h2 {
    padding-left: 608px;
}

.nav_text {
    font-size: 34px;
    font-style: normal;
    font-weight: normal;
    line-height: 40.8px;
    font-family: "Neucha", cursive;
    color: #2A2626;
    padding-left: 608px;
    margin-top: 30px;
}

.rectangle_mini {
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
    height: 26px;
    margin-top: 283px;
    align-items: center;
}

.brown {
    background: #B09A81;
}

.white_text {
    color: #FFFFFF;
}

.content_text {
    flex-basis: 50%; 
    margin-top: 20px;
}

.content_text:nth-child(1) {
    margin-right: 30px;
}